
.cuerpo-superior{
/* SE MODIFICO EL CONTENEDOR PRINCIPAL PARA PODER MODIFICAR DENTRO DE ESTE EL OTRO CONTENEDOR DE LAS HISTORIAS */
    display:inline-block;
    position:relative;
    left: 12.5rem;
    margin-left: 6.5rem;
    width: 40rem;
    height:62.5rem;
    /* OVERFLOW HIDDEN HACE QUE EL CONTENIDO SE OCULTE DENTRO DEL CONTENEDOR*/
    overflow: hidden;
    padding: 0rem;
    /* border: 2px solid yellow;  */
}

/* 
----------------------------------------------------------------------------------------------- */

/* CONTENEDOR DE LAS HISTORIAS */
.Stories{
    display: flex;
    background-color:  #1d1c1c;
    margin-top: 0.9375rem;
    border: 0.0625rem solid  #6d5f5f;
    border-radius:0.3125rem;
    width: 36.25rem;
    padding-left: 1.25rem;
    height: 6.25rem;
    padding: 1.25rem;
    margin-left:0.1875rem;
    /* EL SPACE BETWEEN LOS DISTRIBUYE ALREDEDOR DEL CONTENDOR */
    justify-content:space-evenly;
    
}
/* CONTENEDOR DE LA IMAGEN Y EL TEXTO */
.Stories .container-gradiente{
    position: relative;
    width:4.375rem;
    height: 4.375rem;
    background: linear-gradient(to left,rgb(201, 0, 178),rgb(255, 0, 144),rgb(255, 227, 12));
    border-radius: 50%;
}
/* CONTENDR DE LA IMAGEN */
.Stories .container-gradiente .image-container{
    /* posicionamos en absoluto para que este para  */
    position:relative;
}
.Stories .image-container img{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: 0.1875rem solid black;
    margin: 0.125rem;
}
/* Le quitamos el estilo de lista desordenada con list style */
.Stories li{
    list-style: none;
    font-size: 0.75rem;
    text-align: center;
}
/* Ponemos un margin top para que se baje el texto */
.Stories li a{
    margin-top: 0.25rem;
    box-shadow: none;
}
/* 
----------------------------------------------------------------------------------------------- */

/* CONTENEDOR DE LOS POSTS */
.container-posts{
    background-color:  #1d1c1c;
    border: 0.0625rem solid  #6d5f5f;
    border-radius:0.3125rem;
    width: 568px;
    padding: 28px;
    margin-left:0.1875rem;
    margin-top: 40px;
    height: 700px;
    margin-right: 10px;
}
/* DIMENSIONES DE LA IMAGEN DE PERFIL */
.container-posts .image-cont img{
    margin-top:2px;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
}

/* GRADIENTE DEL POST DEL PERFIL */
.container-posts .perfil-gradient-container{ 
    /* AQUI VA EL DISPLAY PARA QUE LA FOTO Y EL NOMBRE QUEDEN A UN LADO DEL OTRO */
    display: flex;
    margin-top: 2px; 
    margin-left: 0px;
    width:38px;
    height:38px;
    background: linear-gradient(to left,rgb(201, 0, 178),rgb(255, 0, 144),rgb(255, 227, 12));
    border-radius: 50%;
}

.container-posts .perfil-gradient-container .user-name{
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 7px;
}
.container-posts ,.perfil-gradient-container i{
    float: right;
    margin-left: 440px;
}
.container-posts .post-img img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    
}
.container-posts .img-post{
    margin-top: 9px;
    width: 300px;
    height: 400px;
    border-radius: 2%;
}
.container-posts .info-post .icons-post{
    display: flex;
    flex-direction: row;
}
.container-posts .info-post .icons-post i{
    margin: 20px;
}
