
/* px/16=rem (aqui rem son los mejores en vez de pixeles, la cantidad de pixeles entre 16 saldran los rems) */


/* importamos hojas de estilo */
@import url('estilos_2.css');


/* RAIZ DE LOS COLORES */
:root{
    /* CREAMOS LAS VARIABLES DE COLOR DE LA SIGUIENTE MANERA */
    --bg-color: #303131;
    --menu-color: #1d1c1c;
    --text-color:#ffffff;
    --color-border: #6d5f5f;
}

/* SELECCIONAMOS TODA LA PAGINA EN SU TOTALIDAD "* SELECCIONA TODOS LOS ELEMENTOS DEL DOCUMENTO" */
/* TODO LO QUE PONGAMOS A QUI VA A AFECTAR ABSOLUTAMENTE TODOOO */
*{
    /* CON EL PADDING Y EL MARGIN SE SELECCIONA TODO HASTA LA ESQUINA */
  padding: 0;
  margin: 0;
  /* TEXT-DECORATIONLE QUITA LA LINEA DE ABAJO DE LOS LINKS DEL MENU */
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body{
    background-color: var(--bg-color);
}
/* PUNTO PARA LLAMAR LAS CLASES */
.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--menu-color);
    color:var(--text-color);
    /* EL PISITION FIXED HACE QUE EL MENU SE QUEDE QUIETO MIENTRAS QUE EL USUARIO VA HACIENDO SCROLL */
    position:fixed;
    padding: 10px;
    width: 15%;
    /* altura del 100 para que agarre toda la pagina el menu */
    height: 100vh;
    border-right:1px solid var(--color-border);
    /* SOMBRA CUANDO SE LE PASE EL CURSOR */
    box-shadow:5px 0 30px rgba(0,0,0,.1);
}
.menu ul li a i{
    font-size: 25px;
    display: inline;
    padding: 10px;
}
.menu ul li a{
    display: block;
    padding: 10px;
    font-size: 15px;
    color: var(--text-color);
}
.menu ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 140%;
    margin-left: 10px;

}
/* HOVER SE OCUPA PARA CUANDO EL MOUSE SE PASA SOBRE LOS ELEMENTOS ESTOS SE PONGAN DE UN COLOR  */
a:hover{
    background-color:var(--bg-color);
    border-radius: 30px;

}

/* GATITO PARA TRAER LOS IDS  */
#logo{
    font-family:'Cookie', cursive;
    font-size: 35px;
    padding: 25px;
    color: var(--text-color);
}
/* hola */









